<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Email Verification</title>
    <!-- Font Awesome -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" rel="stylesheet" />
    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap" rel="stylesheet" />
    <!-- MDB -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/6.1.0/mdb.min.css" rel="stylesheet" />
</head>

<body>
    <div class="d-flex justify-content-center align-items-center" style="height: 100vh;">
        <div class="card w-50">
            <h5 class="card-header ">Email Verification Done</h5>
            <div class="card-body">
                <h5 class="card-title"></h5>
                <p class="lead">
                    Thank you for verifying your email address. Your account is now fully activated and ready for use.
                    We appreciate your cooperation and look forward to serving you.

                    If you have any questions or concerns, please don't hesitate to reach out to us. Thank you for
                    choosing our website, and we hope you enjoy your experience.
                    <br>
                    Best regards,
                    <br>
                    <b>Roadstar.com</b>
                </p>
                <a href="/" class="btn btn-primary">Go To Login</a>
            </div>
        </div>
    </div>
    <!-- MDB -->
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/6.1.0/mdb.min.js"></script>
</body>

</html>