<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mess request from the dinor</title>
    <link rel="stylesheet" href="/css/dRequestToMess.css">
    {{>HeadLinks}}
</head>

<body>
    {{>dinorNavbar}}
    {{!-- <h3>Mess request from the dinor</h3> --}}
    <div class="requestDiv">
        <h2 class="p-4 h1_feature">Your Dining <span class="highlight">Requests</span> </h2>
        <div class="d-flex flex-column align-items-center justify-content-center" id="listOfTheDMessList">

        </div>

    </div>
    <script src="/js/dRequestToMess.js"></script>
    {{>FootLinks}}
</body>

</html>