<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>vindor dinor request list</title>
    <link rel="stylesheet" href="/css/vDinoreRequest.css">
    {{>HeadLinks}}
</head>

<body>
    {{>vindorNavbar}}
    {{!-- <h3>Dinor list for the mess</h3> --}}
    <div id="message"></div>

    <div class="heading">
        <h1 class="h1_feature p-3">Request <span class="highlight">List</span> </h1>
    </div>

    <div class="friend-requests" id="populatingAread">




        <!-- Add more friend requests here -->
    </div>
    {{>FootLinks}}
    <script src="/js/vDinoreRequest.js"></script>
</body>

</html>